<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ejec="http://www.comcel.com.co/EjecutarTrama/">
    <soapenv:Header/>
    <soapenv:Body>
        <ejec:Input_Parameters>
            <TRAMA>$!exchange.properties.vm_user!$!exchange.properties.vm_password!$!exchange.properties.vm_method!$!exchange.properties.min!$!exchange.properties.vm_package;$!exchange.properties.hostId;$!exchange.properties.vm_paramDos;$!exchange.properties.offerId;$!exchange.properties.vm_codigoCobro;$!exchange.properties.vm_paramTres!*</TRAMA>
            <!--Optional:-->
            <IP_ORIGEN>$!exchange.properties.vm_ipOrigen</IP_ORIGEN>
        </ejec:Input_Parameters>
    </soapenv:Body>
</soapenv:Envelope>