<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
    <S:Body xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
        <ns2:GetReferenceInformationResponse xmlns:ns2="http://tempuri.org/">
            <ns2:BankPaymentManagementError />
            <ns2:BankPaymentReferenceInformation>
                <ns1:bankCode xmlns:ns1="http://schemas.datacontract.org/2004/07/BankPaymentManagement">00</ns1:bankCode>
                <ns1:paymentAmount xmlns:ns1="http://schemas.datacontract.org/2004/07/BankPaymentManagement">326015</ns1:paymentAmount>
            </ns2:BankPaymentReferenceInformation>

            <ns2:isValidReferenceInformation>true</ns2:isValidReferenceInformation>
        </ns2:GetReferenceInformationResponse>
    </S:Body>
</soapenv:Envelope>